/*start general style*/

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {

    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height:  40px;

}

.body {

    display: flex;
    justify-content: center;
    background-color: #ffffff;

}

h1, h2, h3 {

    font-family: 'Forum', cursive;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;

}

/*end general style*/